header{
    display: flexbox;
    justify-content: baseline;
    background-color: orangered;
    font-size: 30px;
    padding: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    min-width: 300px;


    h1{
        margin: 0;
        padding: 0;
        text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
        min-width: 300px;
    }
    ul{
        display: flex;
        justify-content: center;
        li{
            margin-inline: auto;
            font-size: 20px;
            list-style-type: none;
            margin-bottom: 10px;
        }
    }

    a{
        color: black;
    }


}

main{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}


.img{
    border-radius: 90%;
    width: 50%;
}

.cards{
    display: flex;
    margin-inline: 30px;
    text-align: center;
    justify-items: center;
    width: 100vw;
    justify-content: center;
    



}
.card{

    min-width: 10px;
    margin-inline: 20px;
}

    a{
        color: orangered;
    }


.equipo{
    justify-items: center;
    background-color: rgb(255, 194, 28);
    color: black;
    margin: auto;

    h1{
        text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);

    }
}

.msj{
            animation: mover 3s forwards;
            font-size: 18px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    h1{
        width: 200px;
        text-align: center;
        background-color: orangered;
        border-radius: 90px;
        text-shadow: 2px 2px 2px;
    }
}

@keyframes mover {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(calc(50% - 100px)); /* 50% es el centro y 50px es la mitad del ancho de tu elemento */
    }
  }

  @keyframes somos {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
  }

  .somos{
    width: 30vw;
    animation: somos 5s;
    display: flex;
    background-color: orangered;
    section{
        display: flex;
        width: 30vw;
        div{
            margin-left: 10px;
        }
        
    }


}

.comming{
    justify-items: center;
    font-size: 30px;
    img{
        width: auto;
    }
    p{
        background-color: orangered;
    }
}